### Import necessary packages
---
We have used the numpy, pandas, matplotlib

In [124]:
import numpy as np
import pandas as pd
import datetime as dt
import os
import pathlib

In [125]:
plantData = {
    "Plant1G": "../Data/Plant_1_Generation_Data.csv",
    "Plant1W": "../Data/Plant_1_Weather_Sensor_Data.csv",
    "Plant2G": "../Data/Plant_2_Generation_Data.csv",
    "Plant2W": "../Data/Plant_2_Weather_Sensor_Data.csv",
}

In [126]:
plant1Genration = pd.read_csv(plantData["Plant1G"])
plant1Weather = pd.read_csv(plantData["Plant1W"])
plant2Genration = pd.read_csv(plantData["Plant2G"])
plant2Weather = pd.read_csv(plantData["Plant2W"])

dataDict1 = {
    "plant1": [plant1Genration, plant1Weather],
    "plant2": [plant2Genration, plant2Weather],
}

dataDict2 = {
    "generation": [plant1Genration, plant2Genration],
    "weather": [plant1Weather, plant2Weather],
}

plant1Genration["DATE_TIME"] = pd.to_datetime(plant1Genration["DATE_TIME"])
plant2Genration["DATE_TIME"] = pd.to_datetime(plant2Genration["DATE_TIME"])

In [127]:
k = plant1Genration[plant1Genration["SOURCE_KEY"] == "zVJPv84UY57bAof"]
start_date = "2020-05-15 15:00:00"
end_date = "2020-05-15 18:00:00"
mask = (k["DATE_TIME"] >= start_date) & (k["DATE_TIME"] < end_date)
k = k.loc[mask]
k = k.set_index("DATE_TIME")
k

,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
DATE_TIME,,,,,,
2020-05-15 15:00:00,4135001,zVJPv84UY57bAof,6074.500000,595.262500,4829.875000,7120980.875
2020-05-15 15:15:00,4135001,zVJPv84UY57bAof,5732.428571,561.800000,4985.857143,7121136.857
2020-05-15 15:30:00,4135001,zVJPv84UY57bAof,7732.714286,756.914286,5128.571429,7121279.571
2020-05-15 15:45:00,4135001,zVJPv84UY57bAof,4972.875000,487.487500,5275.000000,7121426.000
2020-05-15 16:00:00,4135001,zVJPv84UY57bAof,5172.857143,507.300000,5412.571429,7121563.571
2020-05-15 16:15:00,4135001,zVJPv84UY57bAof,4719.000000,463.025000,5526.750000,7121677.750
2020-05-15 16:30:00,4135001,zVJPv84UY57bAof,4927.571429,483.228571,5650.857143,7121801.857
2020-05-15 16:45:00,4135001,zVJPv84UY57bAof,3702.500000,363.887500,5756.750000,7121907.750
2020-05-15 17:00:00,4135001,zVJPv84UY57bAof,2344.000000,229.814286,5830.857143,7121981.857
2020-05-15 17:15:00,4135001,zVJPv84UY57bAof,2339.375000,229.387500,5889.250000,7122040.250
2020-05-15 17:30:00,4135001,zVJPv84UY57bAof,1173.250000,114.375000,5927.500000,7122078.500
2020-05-15 17:45:00,4135001,zVJPv84UY57bAof,519.250000,50.225000,5948.750000,7122099.750

In [128]:
# testings=k[['AC_POWER']].resample('H').mean()
# testings
k = k.resample("H").mean()
k["SOURCE_KEY"] = "zVJPv84UY57bAof"
k
# df = pd.DataFrame()
# df = k.resample('H').mean()

# df

,PLANT_ID,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,SOURCE_KEY
DATE_TIME,,,,,,
2020-05-15 15:00:00,4135001.0,6128.129464,600.366071,5054.825893,7.121206e+06,zVJPv84UY57bAof
2020-05-15 16:00:00,4135001.0,4630.482143,454.360268,5586.732143,7.121738e+06,zVJPv84UY57bAof
2020-05-15 17:00:00,4135001.0,1593.968750,155.950446,5899.089286,7.122050e+06,zVJPv84UY57bAof

In [129]:
k1 = plant1Genration[plant1Genration["SOURCE_KEY"] == "1BY6WEcLGh8j5v7"]
start_date = "2020-05-15 15:00:00"
end_date = "2020-05-15 18:00:00"
mask = (k1["DATE_TIME"] >= start_date) & (k1["DATE_TIME"] < end_date)
k1 = k1.loc[mask]
k1 = k1.set_index("DATE_TIME")
# testings=k[['AC_POWER']].resample('H').mean()
# testings
k1 = k1.resample("H").mean()
k1["SOURCE_KEY"] = "1BY6WEcLGh8j5v7"
k1
# df = pd.DataFrame()
# df = k.resample('H').mean()

# df

,PLANT_ID,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,SOURCE_KEY
DATE_TIME,,,,,,
2020-05-15 15:00:00,4135001.0,5866.075893,574.745536,4922.964286,6.264482e+06,1BY6WEcLGh8j5v7
2020-05-15 16:00:00,4135001.0,4057.575893,398.355804,5423.468750,6.264982e+06,1BY6WEcLGh8j5v7
2020-05-15 17:00:00,4135001.0,1414.026786,138.238095,5695.910714,6.265255e+06,1BY6WEcLGh8j5v7

In [130]:
k1 = k1.append(k)


k1

C:\Users\Administrator\AppData\Local\Temp\ipykernel_6940\1941040927.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  k1 = k1.append(k)

,PLANT_ID,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,SOURCE_KEY
DATE_TIME,,,,,,
2020-05-15 15:00:00,4135001.0,5866.075893,574.745536,4922.964286,6.264482e+06,1BY6WEcLGh8j5v7
2020-05-15 16:00:00,4135001.0,4057.575893,398.355804,5423.468750,6.264982e+06,1BY6WEcLGh8j5v7
2020-05-15 17:00:00,4135001.0,1414.026786,138.238095,5695.910714,6.265255e+06,1BY6WEcLGh8j5v7
2020-05-15 15:00:00,4135001.0,6128.129464,600.366071,5054.825893,7.121206e+06,zVJPv84UY57bAof
2020-05-15 16:00:00,4135001.0,4630.482143,454.360268,5586.732143,7.121738e+06,zVJPv84UY57bAof
2020-05-15 17:00:00,4135001.0,1593.968750,155.950446,5899.089286,7.122050e+06,zVJPv84UY57bAof

In [141]:
sourceKey = plant1Genration["SOURCE_KEY"].unique()
df = pd.DataFrame()
for x in sourceKey:
    tempDF = plant1Genration[plant1Genration["SOURCE_KEY"] == x]
    tempDF = tempDF.set_index("DATE_TIME")
    tempDF = tempDF.resample("H").mean()
    tempDF["SOURCE_KEY"] = x
    tempDF = tempDF.dropna()
    tempDF["PLANT_ID"] = tempDF["PLANT_ID"].astype(int)
    df = pd.concat([df, tempDF], axis=0)

df = df.sort_values(by=['SOURCE_KEY'])
df.iloc[100:1220]

,PLANT_ID,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,SOURCE_KEY
DATE_TIME,,,,,,
2020-05-28 06:00:00,4135001,648.428571,62.934375,19.147321,6.349852e+06,1BY6WEcLGh8j5v7
2020-05-28 07:00:00,4135001,2951.977679,289.845536,184.058036,6.350017e+06,1BY6WEcLGh8j5v7
2020-05-28 08:00:00,4135001,5933.491072,581.441518,610.084821,6.350443e+06,1BY6WEcLGh8j5v7
2020-05-28 09:00:00,4135001,8365.696428,818.651339,1329.196428,6.351162e+06,1BY6WEcLGh8j5v7
2020-05-28 10:00:00,4135001,9864.718750,963.929464,2229.803572,6.352063e+06,1BY6WEcLGh8j5v7
...,...,...,...,...,...,...
2020-05-15 01:00:00,4135001,0.000000,0.000000,0.000000,6.183645e+06,1IF53ai7Xc0U56Y
2020-05-06 04:00:00,4135001,0.000000,0.000000,0.000000,6.340855e+06,1IF53ai7Xc0U56Y
2020-05-06 05:00:00,4135001,0.000000,0.000000,0.000000,6.340855e+06,1IF53ai7Xc0U56Y
2020-05-06 06:00:00,4135001,658.598214,64.117857,17.084821,6.340872e+06,1IF53ai7Xc0U56Y
2020-05-06 07:00:00,4135001,2038.852678,199.783036,154.290179,6.341009e+06,1IF53ai7Xc0U56Y