# DAT-540 Project 7 Group 13

## Introduction
Generating solar power relies on certain conditions like weather, the number of sensors, and how the data is gathered through an inverter. In this project, we are going to attempt to make predictions of power generated in the future based on past results using ML techniques with different sized observations and comparing them by looking at correlation plots, by studying two different power plants and how faulty equipment can affect the data readings. 
The data is sorted into two files with seven columns each, one containing the data for the power that is generated, and the other for the weather.
From the power generated dataset we have:

| **DATE_TIME**                      | **PLANT_ID**          | **SOURCE_KEY**                                                                                    | DC_POWER                           | AC_POWER                                | DAILY_YIELD                         | TOTAL_YIELD                                    |
|------------------------------------|-----------------------|---------------------------------------------------------------------------------------------------|------------------------------------|-----------------------------------------|-------------------------------------|------------------------------------------------|
| Date given in date hour and minute | Describes which plant | Inverter meaning the one that reads the data for the generator and the sensor for the weatherdata | Amount of direct current generated | Amount of alternating current generated | Daily production of generated power | Total production generated across the dataset. |

For the weather data we have:

| **DATE_TIME**                      | **PLANT_ID**          | **SOURCE_ID**                   | AMBIENT_TEMPERATURE                              | MODULE_TEMPERATURE                                                                                      | IRRIDATION             |
|------------------------------------|-----------------------|---------------------------------|--------------------------------------------------|---------------------------------------------------------------------------------------------------------|------------------------|
| Date given in date hour and minute | Describes which plant | The sensor for the weather data | The temperature in which the equipment is stored | The average temperature across the sensors, which in a laboratory setting should be 25 degrees celsius. | High energy radiation. |

The data has been collected over a 34 day period from two solar power plants in India in apparent optimal weather conditions, the equipment could still get faulty over time and we will be exploring what faulty data looks like by looking at the deviation in parameters i.e module temperature.

In [136]:
import pandas as pd
import matplotlib.pyplot as plt

In [137]:
#Read the data 
Gen_plant1=pd.read_csv('Plant_1_Generation_Data.dat')
Wea_plant1=pd.read_csv('Plant_1_Weather_Sensor_Data.dat')
Gen_plant2=pd.read_csv('Plant_2_Generation_Data.dat')
Wea_plant2=pd.read_csv('Plant_2_Weather_Sensor_Data.dat')
Gen_plant1[Gen_plant1.SOURCE_KEY=='1BY6WEcLGh8j5v7'].tail(100)
ans = Gen_plant1.index[Gen_plant1['AC_POWER']>0].tolist()
ans
Gen_plant1[510:1000][Gen_plant1.SOURCE_KEY=='7JYdWkrLSPkdwr4']

Gen_plant1.corr()

C:\Users\mariu\AppData\Local\Temp\ipykernel_24748\3289141928.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Gen_plant1[510:1000][Gen_plant1.SOURCE_KEY=='7JYdWkrLSPkdwr4']

             PLANT_ID  DC_POWER  AC_POWER  DAILY_YIELD  TOTAL_YIELD
PLANT_ID          NaN       NaN       NaN          NaN          NaN
DC_POWER          NaN  1.000000  0.999996     0.082284     0.003815
AC_POWER          NaN  0.999996  1.000000     0.082234     0.003804
DAILY_YIELD       NaN  0.082284  0.082234     1.000000     0.009867
TOTAL_YIELD       NaN  0.003815  0.003804     0.009867     1.000000

In [138]:
#Drop unnecessary column
New_Gen_plant1=Gen_plant1.drop(['DC_POWER'],axis=1)
New_Wea_plant1=Wea_plant1.drop(['PLANT_ID','SOURCE_KEY'],axis=1)
New_Gen_plant2=Gen_plant2.drop(['PLANT_ID'],axis=1)
New_Wea_plant2=Wea_plant2.drop(['PLANT_ID'],axis=1)

In [145]:
New_Wea_plant1['DATE_TIME']=pd.to_datetime(New_Wea_plant1['DATE_TIME'])
New_Gen_plant1['DATE_TIME']=pd.to_datetime(New_Gen_plant1['DATE_TIME'])
New_Wea_plant1
New_Gen_plant1=New_Gen_plant1.sort_values(by=['DATE_TIME','SOURCE_KEY'])
gen_wea_plant= New_Gen_plant1.merge(New_Wea_plant1,left_on='DATE_TIME',right_on='DATE_TIME')
gen_wea_plant3=gen_wea_plant["DATE_TIME"].dt.strftime('%Y-%m-%d-%h')
gen_wea_plant3

0        2020-05-15-May
1        2020-05-15-May
2        2020-05-15-May
3        2020-05-15-May
4        2020-05-15-May
              ...
45675    2020-06-17-Jun
45676    2020-06-17-Jun
45677    2020-06-17-Jun
45678    2020-06-17-Jun
45679    2020-06-17-Jun
Name: DATE_TIME, Length: 45680, dtype: object

In [140]:
New_Wea_plant1['new_date'] = [d.date() for d in New_Wea_plant1['DATE_TIME']]
New_Wea_plant1['new_time'] = [d.time() for d in New_Wea_plant1['DATE_TIME']]
New_Gen_plant1=New_Gen_plant1.sort_values(by=['DATE_TIME','SOURCE_KEY'])
frames=[New_Gen_plant1,New_Wea_plant1]
result=pd.concat(frames,join='outer')
result
New_Gen_plant1
gen_wea_plant= New_Gen_plant1.merge(New_Wea_plant1,left_on='DATE_TIME',right_on='DATE_TIME')
gen_wea_plant
testings=gen_wea_plant[gen_wea_plant.SOURCE_KEY=='1IF53ai7Xc0U56Y']

### Correlation plots

In [141]:
df_plant_weather1 = New_Gen_plant1.merge(New_Wea_plant1, left_on='DATE_TIME', right_on='DATE_TIME')
df_plant_weather1

,DATE_TIME,PLANT_ID,SOURCE_KEY,AC_POWER,DAILY_YIELD,TOTAL_YIELD,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION,new_date,new_time
0,2020-05-15 00:00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.000,6259559.0,25.184316,22.857507,0.0,2020-05-15,00:00:00
1,2020-05-15 00:00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.000,6183645.0,25.184316,22.857507,0.0,2020-05-15,00:00:00
2,2020-05-15 00:00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.000,6987759.0,25.184316,22.857507,0.0,2020-05-15,00:00:00
3,2020-05-15 00:00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.000,7602960.0,25.184316,22.857507,0.0,2020-05-15,00:00:00
4,2020-05-15 00:00:00,4135001,McdE0feGgRqW7Ca,0.0,0.000,7158964.0,25.184316,22.857507,0.0,2020-05-15,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
45675,2020-06-17 23:45:00,4135001,uHbuxQJl8lW7ozc,0.0,5967.000,7287002.0,21.909288,20.427972,0.0,2020-06-17,23:45:00
45676,2020-06-17 23:45:00,4135001,wCURE6d3bPkepu2,0.0,5147.625,7028601.0,21.909288,20.427972,0.0,2020-06-17,23:45:00
45677,2020-06-17 23:45:00,4135001,z9Y9gH1T5YWrNuG,0.0,5819.000,7251204.0,21.909288,20.427972,0.0,2020-06-17,23:45:00
45678,2020-06-17 23:45:00,4135001,zBIq5rxdHJRwDNY,0.0,5817.000,6583369.0,21.909288,20.427972,0.0,2020-06-17,23:45:00
45679,2020-06-17 23:45:00,4135001,zVJPv84UY57bAof,0.0,5910.000,7363272.0,21.909288,20.427972,0.0,2020-06-17,23:45:00