# DAT-540 Project 7 Group 13

## Introduction
Generating solar power relies on certain conditions like weather, the number of sensors, and how the data is gathered through an inverter. In this project, we are going to attempt to make predictions of power generated in the future based on past results using ML techniques with different sized observations and comparing them by looking at correlation plots, by studying two different power plants and how faulty equipment can affect the data readings. 
The data is sorted into two files with seven columns each, one containing the data for the power that is generated, and the other for the weather.
From the power generated dataset we have:

| **DATE_TIME**                      | **PLANT_ID**          | **SOURCE_KEY**                                                                                    | DC_POWER                           | AC_POWER                                | DAILY_YIELD                         | TOTAL_YIELD                                    |
|------------------------------------|-----------------------|---------------------------------------------------------------------------------------------------|------------------------------------|-----------------------------------------|-------------------------------------|------------------------------------------------|
| Date given in date hour and minute | Describes which plant | Inverter meaning the one that reads the data for the generator and the sensor for the weatherdata | Amount of direct current generated | Amount of alternating current generated | Daily production of generated power | Total production generated across the dataset. |

For the weather data we have:

| **DATE_TIME**                      | **PLANT_ID**          | **SOURCE_ID**                   | AMBIENT_TEMPERATURE                              | MODULE_TEMPERATURE                                                                                      | IRRIDATION             |
|------------------------------------|-----------------------|---------------------------------|--------------------------------------------------|---------------------------------------------------------------------------------------------------------|------------------------|
| Date given in date hour and minute | Describes which plant | The sensor for the weather data | The temperature in which the equipment is stored | The average temperature across the sensors, which in a laboratory setting should be 25 degrees celsius. | High energy radiation. |

The data has been collected over a 32 day period from two solar power plants in India,

In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
#Read the data 
Gen_plant1=pd.read_csv('Plant_1_Generation_Data.dat')
Wea_plant1=pd.read_csv('Plant_1_Weather_Sensor_Data.dat')
Gen_plant2=pd.read_csv('Plant_2_Generation_Data.dat')
Wea_plant2=pd.read_csv('Plant_2_Weather_Sensor_Data.dat')
Wea_plant1

,DATE_TIME,PLANT_ID,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0
...,...,...,...,...,...,...
3177,2020-06-17 22:45:00,4135001,HmiyD2TTLFNqkNe,22.150570,21.480377,0.0
3178,2020-06-17 23:00:00,4135001,HmiyD2TTLFNqkNe,22.129816,21.389024,0.0
3179,2020-06-17 23:15:00,4135001,HmiyD2TTLFNqkNe,22.008275,20.709211,0.0
3180,2020-06-17 23:30:00,4135001,HmiyD2TTLFNqkNe,21.969495,20.734963,0.0
3181,2020-06-17 23:45:00,4135001,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0

In [13]:
#Drop unnecessary column
New_Gen_plant1=Gen_plant1.drop(['PLANT_ID'],axis=1)
New_Wea_plant1=Wea_plant1.drop(['PLANT_ID'],axis=1)
New_Gen_plant2=Gen_plant2.drop(['PLANT_ID'],axis=1)
New_Wea_plant2=Wea_plant2.drop(['PLANT_ID'],axis=1)

,DATE_TIME,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,1BY6WEcLGh8j5v7,0.0,0.0,0.000,6259559.0
1,15-05-2020 00:00,1IF53ai7Xc0U56Y,0.0,0.0,0.000,6183645.0
2,15-05-2020 00:00,3PZuoBAID5Wc2HD,0.0,0.0,0.000,6987759.0
3,15-05-2020 00:00,7JYdWkrLSPkdwr4,0.0,0.0,0.000,7602960.0
4,15-05-2020 00:00,McdE0feGgRqW7Ca,0.0,0.0,0.000,7158964.0
...,...,...,...,...,...,...
68773,17-06-2020 23:45,uHbuxQJl8lW7ozc,0.0,0.0,5967.000,7287002.0
68774,17-06-2020 23:45,wCURE6d3bPkepu2,0.0,0.0,5147.625,7028601.0
68775,17-06-2020 23:45,z9Y9gH1T5YWrNuG,0.0,0.0,5819.000,7251204.0
68776,17-06-2020 23:45,zBIq5rxdHJRwDNY,0.0,0.0,5817.000,6583369.0
68777,17-06-2020 23:45,zVJPv84UY57bAof,0.0,0.0,5910.000,7363272.0

### Correlation plots

In [29]:
df_plant_weather1 = New_Gen_plant1.merge(New_Wea_plant1, left_on='DATE_TIME', right_on='DATE_TIME')
df_plant_weather1

Empty DataFrame
Columns: [DATE_TIME, SOURCE_KEY_x, DC_POWER, AC_POWER, DAILY_YIELD, TOTAL_YIELD, SOURCE_KEY_y, AMBIENT_TEMPERATURE, MODULE_TEMPERATURE, IRRADIATION]
Index: []